@import "tailwindcss";

.full-screen-absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* Add this to your project's stylesheet */
.my-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.my-scrollbar::-webkit-scrollbar-thumb {
  background: #fff; /* Tailwind's indigo-600 */
  border-radius: 9999px;
}
.my-scrollbar::-webkit-scrollbar-track {
  background: #ffffff5f; /* Tailwind's indigo-100 */
}
.my-scrollbar {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #ffffffb9 #ffffff5f; /* thumb color, track color */
}
